extends layout

block head
  link(rel="stylesheet" href="/css/shoppingCart.css")
  script(src="https://kit.fontawesome.com/a2ec7d5873.js" crossorigin="anonymous")
  script(src="https://www.paypal.com/sdk/js?client-id=Aenc-ZELxEr3NW_RzKXJczlvlzCLIqN55JkYNBS8A6ajWlDFugRaS7pU0sXvc27NKHrRuGVmr49BYxud")

block body-contenido
  div
    div.body-contenido
      div.contenedor-carrito-compras
        div.cart-contenerdor-estadisticas
          p.cart-cantidad-prendas= 'In cart ' + quantityGarments
          p.cart-precio-total
            | $#{totalPrice.toLocaleString('en-US')} | ₡#{(totalPrice * exchangeRate).toLocaleString('es-ES', { maximumFractionDigits: 0 })}

        div.cart-prendas
          each prenda in shoppingCartUser
            div.cart-prenda
              div.cart-contenedor-imagen
                img.cart-prenda-img(src=prenda.image_url)

              div.cart-datos-prenda
                p.cart-prenda-marca= prenda.brand
                p.cart-prenda-nombre= prenda.name
                p.cart-prenda-precio= '$' + prenda.price
                p.cart-prenda-precio.colones
                  | ₡#{(prenda.price * exchangeRate).toLocaleString('es-ES', { maximumFractionDigits: 0 })}
                form(action='/delete-garment-to-cart' method='POST').cart-form-eliminar
                  input(name="garmentId", value=prenda.garmentId).cart-prenda-id
                  button(type="submit").cart-btn-eliminar
                    i.fa-regular.fa-trash-can

        - if (quantityGarments > 0)
          
          form(action='/confirm-purchase' method='GET').cart-form-elimina
            div.cart-contenedor-btn-confirmar
              div(id="paypal-button-container").cart-contenedor-btn-paypal
              
  script.
    paypal.Buttons({
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: #{totalPrice}
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        window.location.href = '/confirm-purchase';
      }
    }).render('#paypal-button-container');