extends layout

block head
  link(rel="stylesheet" href="/css/userProfile.css")
  link(rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css")
  script(src="https://unpkg.com/leaflet/dist/leaflet.js")
block body-contenido
  div
    div.body-contenido
      div.perfil-contenedor
        div.flex-center-container
          i.fa-regular.fa-circle-user
        p.profile-title Your Information

        p.perfil-p Full Name
        input(type="text" readonly="true" value=` ${userData.firstName} ${userData.lastName}`).profile-input

        p.perfil-p Email
        input(type="text" readonly="true" value=` ${userData.email}`).profile-input

        p.perfil-p Username
        input(type="text" readonly="true" value=` ${userData.username}`).profile-input

        - const registeredDate = new Date(userData.registeredSince);
        - const formattedDate = `${registeredDate.getDate()}-${registeredDate.getMonth() + 1}-${registeredDate.getFullYear()}`;
        p.perfil-p Registered Date
        input(type="text" readonly="true" value=`${formattedDate}`).profile-input
        
        p.perfil-p Location
        input(type="text" readonly="true" value=`${userData.location.province}, ${userData.location.canton}, ${userData.location.district}`).profile-input


