extends layout

block head
  link(rel="stylesheet" href="/css/userProfile.css")
  link(rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css")
  script(src="https://unpkg.com/leaflet/dist/leaflet.js")
block body-contenido
  div
    div.body-contenido
      div.perfil-contenedor
        div.perfil-centro
          p.perfil-titulo Account Information
          p.perfil-texto.nombre= 'Full name: ' + userData.firstName + ' ' + userData.lastName
          p.perfil-texto.email= 'Email: ' + userData.email
          p.perfil-texto.username= 'Username: ' + userData.username
          p.perfil-texto.username= 'Since: ' + userData.registeredSince
          p.perfil-locacion= 'Location: ' +userData.location.province + ', ' + userData.location.canton + ', ' + userData.location.district


